<% provide(:title, 'All users') %>

<h1>All Users</h1>

<%= will_paginate %>

<table class="table">
  <% @users.each do |user| %>
  <tr>
    <td>
      <%= gravatar_for user, size: 50 %>
    </td>
    <td>
      <%= link_to user.name, user %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <% if current_user.admin? %>
      <td>
        <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>

<%= will_paginate %>
